<a href="https://colab.research.google.com/github/ildacec/Python/blob/main/Tarea_No_1__IldaRojas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TAREA NO. 1

NOMBRE: ILDA ROJAS

In [1]:
import numpy as np

1. Escribe una función de Python para encontrar el máximo de tres
números.

In [ ]:
numero1 = input("Introduce el número ")
numero2 = input("Introduce el número ")
numero3 = input("Introduce el número ")

if numero2 < numero1 > numero3:
  print("Mayor:", numero1)
elif numero1 < numero2 > numero3:
  print("Mayor:", numero2)
elif numero1 < numero3 > numero2:
  print("Mayor:", numero3)

Introduce el número 2
Introduce el número 9
Introduce el número 5
Mayor: 9

2. Escribe una función de Python para sumar todos los números en una
lista.
Lista de muestra : (8, 2, 3, 0, 7)
Resultado esperado : 20

In [ ]:
my_list = [8, 2, 3, 0, 7]
sum_i = 0

for i in my_list: 
  sum_i = sum_i + i

print("Resultado: ", sum_i)

Resultado:  20

3 . Escribe una función de Python para multiplicar todos los números en
una lista.
Lista de muestra : (8, 2, 3, -1, 7)

Resultado esperado : -336

In [ ]:
my_list = [8, 2, 3, -1, 7]
mul_i = 1

for i in my_list: 
  mul_i = mul_i * i

print("Resultado: ", mul_i)

Resultado:  -336

4. Escriba un programa en Python para invertir una cadena.
Cadena de muestra : "1234abcd"
Salida esperada : "dcba4321"

In [ ]:
a = '1234abcd'
b = a[::-1]

print (b)

dcba4321

5. Escriba una función de Python que tome una lista y devuelva una nueva
lista con elementos únicos de la primera lista.
lista de muestras: [1,2,3,3,3,3,4,5]
Lista Única: [1, 2, 3, 4, 5]

In [ ]:
my_list1 = [1,2,3,3,3,3,4,5] 

my_list_unic = list(dict.fromkeys(my_list1))
print (my_list_unic)

[1, 2, 3, 4, 5]

6. Escriba una función de Python que tome un número como parámetro y
verifique que el número sea primo o no.
Nota: Un número primo (o primo) es un número natural mayor que 1 y
que no tiene divisores positivos distintos de 1 y él mismo.

In [ ]:
numero  = int(input("Introduce el número: "))
primo = 0

for n in range(2, numero):
    if numero % n == 0:
        primo = primo + 1


if primo > 0: 
  print("No es primo")
else:
  print("Es primo")

Introduce el número: 12
No es primo

7. Escriba un programa en Python para imprimir los números pares de una
lista dada.
Lista de muestra : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Resultado esperado : [2, 4, 6, 8]

In [ ]:
my_list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
pares = []
no_pares = []

for n in my_list1:
    if n % 2 == 0:
        pares.append(n)
    else:
        no_pares.append(n)
    

print (pares)

[2, 4, 6, 8]